.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.forgot-password-box {
  background: var(--bs-body-bg);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  color: var(--bs-body-color);
  border: 1px solid var(--bs-secondary);
}

.forgot-password-box h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.forgot-password-box p {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  color: var(--bs-secondary);
}

.security-question-text {
  font-style: italic;
  font-weight: bold;
  color: var(--bs-body-color) !important;
  margin-bottom: 1.5rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--bs-secondary);
  border-radius: 4px;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  border-color: var(--bs-secondary);
}

.forgot-password-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: var(--bs-primary);
  color: white !important;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.forgot-password-button:hover {
  background-color: #146C43;
}

.error-message {
  color: #dc3545;
  text-align: center;
  margin-bottom: 1rem;
}

.success-container {
    text-align: center;
}

.back-to-login {
  text-align: center;
  margin-top: 1rem;
}

.back-to-login a {
  color: var(--bs-body-color);
  text-decoration: none;
}

.back-to-login a:hover {
  text-decoration: underline;
}
